@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Aprenda sobre a <a href="https://docs.microsoft.com/aspnet/core">criação de aplicativos da Web com o ASP.NET Core</a>.</p>
</div>
